<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">{{siteTitle}}</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="#">Cost To Serve</a></li>
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">SMB Open Workflow
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="#">OR Champs</a></li>
          <li><a href="#">MS House</a></li>
          <li><a href="#">PO Reconcilation</a></li> 
        </ul>
      </li>
      
    </ul>
  </div>  
</nav>
<h1 class="pagetitle">{{pageTitle}}</h1>
<div>
    <filter-data></filter-data>
  </div>